@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/restriction.css";
@import "components/fixed-headerW.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/in-chat.css";

body {
  background-color: #2e176a;
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.main-screen {
  background-color: var(--cool-grey);
  padding: 0px var(--horizontal-space);
  height: 108vh;
  margin-top: 104px;
  padding-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-friends {
  margin-top: 0px;
}

.main-settings {
  margin-top: 96px;
  padding: 0px;
  height: 112vh;
}
