.badge {
  background-color: var(--noti-pink);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: badgeAnimation 3s ease-in-out infinite;
}
@keyframes badgeAnimation {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
}
