#fixed-headerW .screen-header,
#fixed-headerW .alt-header,
#fixed-headerW .status-bar {
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
#fixed-headerW .status-bar {
  z-index: 2;
}
#fixed-headerW .screen-header {
  z-index: 1;
  top: 20px;
}

#fixed-headerW .alt-header {
  z-index: 1;
  top: 15px;
}
